body{
    background: radial-gradient(circle, #edeeedc4, #bcd3eeb9);
}
.contenedor{
    display: flex;
    height: 1vh;
    padding: 40px 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
}

.tarjeton{
    display: flex;
    flex-direction: column;
    background: #e8e8e9;
    padding: 12px;
    border-radius: 10px;
}

.tablaNums{
    display: flex;
    gap: 10px;
    
}

.titulo{
    text-align: center;
    background-color: #bcd3eeb9;
    padding: 10px 0;
    border-radius: 10px;
}

.columnaNum{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    background: #bcd3eeb9;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.listaNum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.num{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    list-style: none;
    background: #edeeedc4;
    width: 60px;
    height: 60px;
}

.num:hover{
    background: #a8f1a8c4;
}

.verde{
    background: #a8f1a8c4;
}